# Ẩn tất cả các file có đuôi .exe (file thực thi)
# *.exe -> Phiên bản mới: Cho phép tải về file thực thi

# Ẩn thư mục .vscode
# .vscode/ -> Phiên bản mới: Cho phép tải về thư mục .vscode

# Ẩn file lịch sử
Practice Project 1 - Tiny Shell/history.txt

# Ẩn thư mục Private
Private/